<div class="ls_body" ng-controller="HomeController">
    <div class="ls_qrcode">
        <img class="ls_qrcode_img" src="/images/qrcode_for_gh_74ae182dc99b_344.jpg">
        <div>每天推荐5篇好文</div>
    </div>
    <table>
    <% results.forEach(function(item, index){ %>
    <% numb = next.skip - 30 + index + 1%>
        <tr class="row ls_row">
        <td class="ls_num "><%= numb %>.<div class="ls_num_space">&nbsp;</div></td>
        <td class="ls_title">
            <span class="ls_up" title="顶一下">
                <%if (ups.join(",").indexOf(item.id) == -1) {%>
                    <span class="ls_up_img" id="<%= item.id %>_up" ng-click="duang($event,'<%= item.id %>')"></span>
                <%}%>
            </span>
            <div class="ls_a" ><a href="<%=item.url%>" target="_blank" alt="<%= item.title %>"><%= item.title %>

                </a>
                <% if (item.site) {%>
                <span class="ls_site">（<%=: item.site | site %>）</span>
                <%}%>
            </div>
            <div class="ls_sub">
                <span><span id="<%= item.id %>_up_count"><%= item.up %></span>顶 </span>
                <% if (item.nick) {%>
                    <span>by <%=item.nick%>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <%}%>
                <span><a class="ls_comment" href="/item/<%= item.id %>/<%= item.title %>" title="<%= item.title %>">讨论</a>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span><%=: item.time | timeago %></span>
            </div>
        </td>
        </tr>
    <% }) %>
    </table>
    <% if (results.length >= 30) {
       ext = "/next/?skip=" + next.skip;
        if (next && next.query) {
            ext += "&query=" + next.query;
        }
    %>
        <div class="ls_more"><a href="<%= ext%>" target="_self">更多</a></div>
    <%}%>
</div>
<div class="ls_qrcode_mb">
    <img class="ls_qrcode_img" src="/images/qrcode_for_gh_74ae182dc99b_344.jpg">
    <div>每天推荐5篇好文</div>
</div>
