<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <title><%= result.title %> - 分享酷的链接</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
        content="酷粒,cool list,coollist,kuli,链接,分享,cool link,share & link,好玩,有趣,有节操">
    <meta name="description"
        content="<%= result.title %>,分享酷的链接">
    <meta property="og:title" content="<%= result.title %> - 分享酷的链接"/>
    <meta property="og:description" content="<%= result.title %>,分享酷的链接"/>
    <meta property="og:image" content="http://coollist.cn/images/logo.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="coollist"/>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app" class="body">
  <div class="cl_body">
      <% include nav.ejs %>
      <%- body %>
      <% include footer.ejs %>
  </div>

    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/angular/angular.js"></script>

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <!--SCRIPTS END-->
    <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?ced1e54e8b88d176fc750466cc231a94";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
