<!DOCTYPE html>
<html>
  <head>
      <%
        tit = "";
        desc = "";
        if (typeof extData === "undefined") {
            tit = "酷粒 - 分享酷的链接";
            desc = "专注优质链接分享的站点,好玩,有趣,有节操,这是一个安静的存在,脑洞大开的地方";
        } else {
            tit = extData.title;
            desc = extData.desc;
        }
        %>
    <title><%= tit %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="keywords"
        content="酷粒,cool list,coollist,kuli,链接,分享,cool link,share & link,好玩,有趣,有节操">
    <meta name="description"
        content="<%= desc %>">
    <meta property="og:title" content="<%= tit %>"/>
    <meta property="og:description" content="<%= desc %>"/>
    <meta property="og:image" content="http://coollist.cn/images/logo.png"/>
    <meta property="og:type" content="item"/>
    <meta property="og:site_name" content="coollist"/>

    <meta property="wb:webmaster" content="baab86007eebe3db" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app" class="body">
  <div class="cl_body">
      <% include nav.ejs %>
      <%- body %>
      <% include footer.ejs %>
  </div>

    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/angular/angular.js"></script>

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <!--SCRIPTS END-->
    <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?ced1e54e8b88d176fc750466cc231a94";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
